.breadcrumbs {
  display: flex;
  align-items: center;

  a {
    color: $kinto-tinted-grayscale-9;
    margin-right: 14px;
    font-weight: 600;
    &:hover {
      color: #1ec4e9;
    }
  }

  .disabled {
    color: $kinto-tinted-grayscale-6;
    cursor: default;
    &:hover {
      color: $kinto-tinted-grayscale-6;
    }
  }

  ul {
    display: flex;
    width: 100%;
    justify-content: start;
  }

  li {
    line-height: 20px;
    height: 20px;
    display: inline-block;
    display: flex;
    align-items: center;
    &:after {
      content: "";
      margin-right: 10px;
      margin-left: 10px;
      width: 20px;
      height: 20px;
      background: url(/images/icon-breadcrumb-chevron.svg)
    }
    &:last-child:after {
      background: none;
    }

    img {
      margin-right: 14px;
    }
  }

  .list-container {
    display: flex;
  }
  .text-disabled {
    cursor: default;
    margin-right: 14px;
  }

}

.breadcrumb-icon {
  background: url("/images/icon-breadcrumb.svg");
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
}
