.breadcrumbs {
  display: flex;
  align-items: center;

  .dashboard-inner {
    width: 100%;
    padding: 0;
  }

  a {
    color: $kinto-tinted-grayscale-9;
    margin-right: 14px;
    font-weight: 600;
    &:hover {
      color: #1ec4e9;
    }
  }

  .disabled {
    color: $kinto-tinted-grayscale-6;
    cursor: default;
    &:hover {
      color: $kinto-tinted-grayscale-6;
    }
  }

  ul {
    display: flex;
    width: 100%;
    justify-content: start;
  }

  li {
    line-height: 20px;
    height: 20px;
    display: inline-block;
    display: flex;
    align-items: center;
    &:after {
      content: "";
      margin-right: 10px;
      margin-left: 10px;
      width: 20px;
      height: 20px;
      background: url(/images/icon-breadcrumb-chevron.svg)
    }
    &:last-child:after {
      background: none;
    }

    img {
      margin-right: 14px;
    }
  }

  .list-container {
    display: flex;
  }
  .text-disabled {
    cursor: default;
    margin-right: 14px;
    line-height: 24px;
  }

}

.breadcrumb-icon {
  background: url("/images/icon-breadcrumb.svg");
  display: flex;
  width: 20px;
  height: 20px;
  border: none;
}

.breadcrumb-with-icon {
  display: flex;
  align-items: center;
  h4 {
    margin: 0 10px;
  }
}

.draft-icon {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  @include backgroundImage('/images/label-type-draft.svg', 20px, 20px);
}

.kintoapp-tag-breadcrumb {
  position: relative;
  min-width: 70px;
  .draft-icon {
    top: 0;
    left: 0;
  }
  &.draft {
    .breadcrumb-text {
      padding-left: 30px;
    }
  }
}
