.dropdown {
  position: relative;
  font-size: 14px;

  ul {
    list-style: none;
  }
}

.dropdown-button {
  display: block;
  cursor: pointer;
}

.dropdown-content {
  background: $kinto-tinted-grayscale-8;
  display: none;
  position: absolute;
  padding: 10px 0;
  left: 50%;
  top: 55px;
  margin-left: -100px;
  z-index: 1;
  min-width: 200px;
  border-radius: 4px;

  &.short {
    top: 30px;
  }

  &.isShown {
    display: block;
  }

  &:before {
    content: '';
    display: block;
    border-color: transparent transparent $kinto-tinted-grayscale-8 transparent;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -10px;
  }
}

.dropdown-left .dropdown-content {
  right: 0;
  left: initial;
  &:before {
    left: initial;
    right: 20px;
  }
}

.dropdown-content-items {
  .line {
    width: 100%;
    border: solid 1px $kinto-tinted-grayscale-7;
    margin-top: 5px;
    height: 1px;
    &.dropdown {
      margin: 15px 30px;
      width: 140px;
    }
  }

  a, button {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    border: 0;
    background: $kinto-tinted-grayscale-8;
    color: $kinto-white;
    padding: 10px 20px;
    text-decoration: none;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    &.tag-item-text {
      background-color: rgba($kinto-blue, 0.2);
    }

    &.title {
      flex-direction: column;
      padding: 5px 0;
    }

    h4, h5 {
      color: $kinto-white;
      text-align: center;
      margin: 0;
      margin-left: 20px;
    }

    .dependency {
      min-width: 40px;
      min-height: 40px;
      &.application {
        background-size: contain;
        display: inline-block;

        @include backgroundImage("/images/icon-generic-application-small-border-2.svg", 40px, 40px);
      }

      &.kintoblock-dep {
        background-size: contain;

        @include backgroundImage("/images/icon-generic-kintoblock-small-border-1.svg", 40px, 40px);
      }

      &.service {
        background-size: contain;

        @include backgroundImage("/images/icon-generic-service-small-border-2.svg", 40px, 40px);
      }
    }

    &:hover {
      background: $kinto-blue-hover;
    }
  }
}

.dropdown-content-filter {
  padding: 0 20px 20px 20px;
  border-bottom: 1px solid $kinto-tinted-grayscale-7;
}

.dropdown-content-action {
  padding: 20px 20px 0 20px;
  font-size: 14px;
  border-top: 1px solid $kinto-tinted-grayscale-7;

  button {
    width: 100%;
  }
}

.dropdown-filter {
  .dropdown-content {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 340px;
    margin-left: -170px;
  }

  .dropdown-content-items {
    height: 260px;
  }
}

.dropdown-content .tag-item {
  display: flex;
  justify-content: space-between;

  .text-highlight {
    font-size: 12px;
  }


  &.active {
    background: $kinto-blue-dark;
    border-left: 6px solid $kinto-blue;

    .tag-item-text, .date, .notes {
      margin-left: -6px;
    }

    .notes {
      width: 306px;
    }
    &:hover {
      background: $kinto-blue-dark;
    }
  }
}

.dropdown-content-items-scroll {
  position: relative;
  overflow: hidden;
}

.margin-right.dropdown {
  margin-right: 14px;
}

.kinto-app-tag {
  width: 100%;
  position: relative;
  .tag-name-and-environments {
    display: flex;
    justify-content: space-between;
    .environments {
      display: flex;
      .extra, .main {
        background-color: $kinto-grayscale-1;
        border-radius: 4px;
        color: $kinto-grayscale-7;
        padding: 1px 5px;
      }
      .extra {
        margin-left: 5px;
      }
    }
  }
  .date, .notes {
    h5 {
      max-width: 300px;
      text-align: left;
      margin-left: 0;
      color: rgba($kinto-white, 0.4);
      font-weight: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.kinto-app-tag.draft {
  postion: relative;
}

.draft .tag-item-text {
  color: $kinto-white;
  font-weight: bold;
}
