.dropdown {
  font-size: 14px;
  position: relative;
  ul {
    list-style: none;
  }
}

.bottom .dropdown.wide {
  font-size: 14px;
  position: absolute;
  right: 0;
  top: -35px;
}

.dropdown-button {
  display: block;
  cursor: pointer;
}

.dropdown {
  &.wide {
    .dropdown-content {
      min-width: 240px;
      margin-left: -120px;
      button {
        padding: 10px 30px;
      }
    }
  }
}

.dropdown-content {
  background: $kinto-tinted-grayscale-8;
  display: none;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 50%;
  top: 55px;
  margin-left: -100px;
  z-index: 1;
  min-width: 200px;
  border-radius: 4px;

  &.short {
    top: 30px;
  }

  &.isShown {
    display: block;
  }

  &:before {
    content: '';
    display: block;
    border-color: transparent transparent $kinto-tinted-grayscale-8 transparent;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -10px;
  }
}

.environment-card {
  .dropdown-content{
    min-width: 171px;
    &:before {
      left: 64%;
    }
  }
}

.dropdown-tabs {
  display: flex;
  align-items: center;
  justify-content: stretch;
  cursor: pointer;
  .tab {
    padding: 0 20px 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border-bottom: solid 1px $kinto-tinted-grayscale-7;
    &.active {
      padding-bottom: 20px;
      border-bottom: solid 4px $kinto-blue;
      h3 {
        color: $kinto-white;
      }
    }
    h3 {
      font-size: 16px;
      margin: 0;
      font-weight: bold;
      color: rgba($kinto-white, 0.4);
      text-transform: uppercase;
    }
    .icon {
      &.branch {
        @include backgroundImage('/images/icon-type-branch-dark.svg', 20px, 20px)
        position: relative;
        left: -10px;
      }
      &.tag {
        @include backgroundImage('/images/icon-type-tag-dark.svg', 20px, 20px)
        position: relative;
        right: -25px;
      }
    }
  }
}

.breadcrumb-with-icon {
  .icon {
    &.branch {
      @include backgroundImage('/images/icon-type-branch.svg', 20px, 20px)
    }
    &.tag {
      @include backgroundImage('/images/icon-type-tag.svg', 20px, 20px)
    }
  }
}

.menu-hidden .breadcrumb-with-icon {
  display: none;
}

.dropdown-left .dropdown-content {
  right: 0;
  left: initial;
  &:before {
    left: initial;
    right: 20px;
  }
}

.dropdown-content {
  z-index: 7;
  box-shadow: 0 2px 4px 0 $kinto-box-shadow, 0 10px 40px 0 $kinto-box-shadow;
}

.dropdown-content-items {
  .line {
    width: 100%;
    border: solid 1px $kinto-tinted-grayscale-7;
    margin-top: 5px;
    height: 1px;
    &.dropdown {
      margin: 15px 30px;
      width: 180px;
    }
    &.with-padding {
      margin: 10px 30px;
      width: 180px;
    }
  }

  h4.title {
    color: $kinto-white;
    text-align: center;
    cursor: default;
  }

  a, button, .dropdown-scroll-container > a {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    border: 0;
    background: $kinto-tinted-grayscale-8;
    color: $kinto-white;
    padding: 10px 30px;
    text-decoration: none;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &.tag-button {
      flex-direction: column;
      .tag-and-commit {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .date, .notes {
        color: rgba($kinto-white, 0.4);
        width: 100%;
        font-weight: normal;
      }
      &.tag-item-text {
        background-color: rgba($kinto-blue, 0.2);
      }
    }

    &.double-line {
      flex-direction: column;
      align-items: flex-start;
      h5 {
        text-align: left;
        margin-left: 0;
      }
    }

    &.title {
      flex-direction: column;
      padding: 5px 0;
    }

    h4, h5 {
      color: $kinto-white;
      text-align: center;
      margin: 0;
      margin-left: 20px;
    }

    .dependency {
      min-width: 40px;
      min-height: 40px;
      &.application {
        background-size: contain;
        display: inline-block;

        @include backgroundImage("/images/icon-generic-application-small-border-2.svg", 40px, 40px);
      }

      &.kintoblock-dep {
        background-size: contain;

        @include backgroundImage("/images/icon-generic-kintoblock-small-border-1.svg", 40px, 40px);
      }

      &.service {
        background-size: contain;

        @include backgroundImage("/images/icon-generic-service-small-border-2.svg", 40px, 40px);
      }
    }

    &:hover {
      background: $kinto-blue-hover;
    }
  }
}

.dropdown-content-filter {
  padding: 0 20px 20px 20px;
  border-bottom: 1px solid $kinto-tinted-grayscale-7;
  &.tags-and-branches {
    border-bottom: none;
    padding: 10px 20px 0px 20px;
    background-color: $kinto-tinted-grayscale-9;
  }
}

.dropdown-content-action {
  padding: 20px;
  border-top: 1px solid $kinto-tinted-grayscale-7;
  font-size: 14px;

  button {
    width: 100%;
  }
}

.dropdown-filter {
  &.ka-version-switcher .dropdown-content{
    top: 30px;
  }
  .dropdown-content {
    padding-top: 20px;
    width: 340px;
    margin-left: -170px;
    box-shadow: 0 2px 4px 0 $kinto-box-shadow, 0 10px 40px 0 $kinto-box-shadow;
    &.tag-branch {
      margin-left: -120px;
      top: 30px;
    }
  }

  .dropdown-content-items {
    height: 200px;
  }
}

.dropdown-content .tag-item {
  display: flex;
  justify-content: space-between;

  .text-highlight {
    font-size: 12px;
    &.live {
      background: $kinto-green;
      border-radius: 4px;
    }
  }


  &.active {
    background: $kinto-blue-dark;
    border-left: 6px solid $kinto-blue;
    align-items: flex-start;

    .tag-item-text, .date, .notes {
      margin-left: -6px;
    }

    .notes {
      width: 306px;
    }
    &:hover {
      background: $kinto-blue-dark;
    }
  }
}

.dropdown-content-items-scroll {
  position: relative;
  overflow: hidden;
}

.margin-right.dropdown {
  margin-right: 14px;
}

.kinto-app-tag {
  width: 100%;
  position: relative;
  .tag-name-and-environments {
    display: flex;
    justify-content: space-between;
    .environments {
      display: flex;
      .extra, .main {
        background-color: $kinto-grayscale-1;
        border-radius: 4px;
        color: $kinto-grayscale-7;
        padding: 1px 5px;
      }
      .extra {
        margin-left: 5px;
      }
    }
  }
  .date, .notes {
    h5 {
      max-width: 300px;
      text-align: left;
      margin-left: 0;
      color: rgba($kinto-white, 0.4);
      font-weight: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.kinto-app-tag.draft {
  postion: relative;
}

.draft .tag-item-text {
  color: $kinto-white;
  font-weight: bold;
}

.faded {
  opacity: 0.4;
}

.no-tags {
  color: rgba($kinto-white, 0.4);
  width: 100%;
  font-weight: normal;
  text-align: center;
  position: relative;
  top: 90px;
}

.dropdown-filter-input {
  @include placeholder($input)
}

.kintoapp {
  .bottom {
    .dropdown-content {
      left: 0%;
      .line {
        margin: 9px 30px;
      }
    }
  }
}

#endpointInfoSwitcher .dropdown-content {
  top: 30px;
}
