.what-is-a-kintoblock {
  background-color: rgba( $kinto-tinted-grayscale-3, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin-bottom: $margin-base*4;
  .body-copy{
    font-weight: normal;
    a {
      font-size: 14px;
      color: $kinto-grayscale-7;
    }
  }
  .icon {
    @include backgroundImage('/images/icon-hint-large.svg', 80px, 80px);
    min-width: 80px;
    margin-left: 20px;
  }
}

.kintoblock-create {
    input, select {
      height: 40px;
    }
    width: 100%;
    display: inherit;
  .form-wrapper {
    min-width: 520px;
    margin-bottom: 40px;
    @media (min-width: 1440px) {
      min-height: 500px;
      &.workspaces {
        min-height: 50px;
      }
      margin-bottom: 0;
    }
    justify-self: stretch;
    h5 {
      min-height: 50px;
      font-weight: normal;
      margin-bottom: 26px;
    }
    .form-body {
      background-color: $kinto-white;
      padding: 36px 40px;
      @media (min-width: 1440px) {
      min-height: 400px;
      }
      border-radius: 12px;
      box-shadow: 0 2px 4px 0 rgba($kinto-tinted-grayscale-7,0.10), 0 10px 40px 0 rgba($kinto-tinted-grayscale-7,0.10);
      .memory, .limits-requests{
        .input-container {
          width: 49%;
        }
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (min-width: 540px) {
          flex-wrap: nowrap;
        }
        input {
          width: 100%;
          min-width: 210px;
        }
      }
      textarea {
        min-height: 100px;
      }
    }
  }
  .line {
    width: 100%;
    border-bottom: solid 1px $kinto-tinted-grayscale-2;
    margin: 18px 0;
  }
  .toggle-wrapper {
    margin-bottom: 16px
  }
}

.hardware-data-form {
  .memory, .limits-requests{
    .input-container {
      width: 49%;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (min-width: 540px) {
      flex-wrap: nowrap;
    }
    input {
      width: 100%;
      min-width: 210px;
    }
  }
  .line {
    width: 100%;
    border-bottom: solid 1px $kinto-tinted-grayscale-2;
    margin: 18px 0;
  }
}

.language-protocol {
  display: flex;
  justify-content: space-between;
  .field-wrapper {
    flex-grow: 1;
    &:first-child {
      margin-right: 10px;
    }
    &:nth-child(2){
      margin-left: 10px;
    }
  }
}

.connect-github {
  .repository-selection {
    display: flex;
    justify-content: space-between;
    .field-wrapper {
      &:first-child {
        margin-right: 20px;
      }
      width: 50%;
    }
  }
  .select-wrapper {
    flex-grow: 1;
  }
  .Select {
    position: relative;
    &.is-focused:not(.is-open) > .Select-control, &.is-focused > .Select-control {
      border: none;
      box-shadow: none;
      background: $kinto-white;
      border: 2px solid $kinto-blue-muted;
      border-radius: 4px;
    }
    .Select-menu-outer {
      box-shadow: 0 2px 4px 0 $kinto-box-shadow 0 10px 40px 0 $kinto-box-shadow;
      border: none;
      margin-top: 0;
      .Select-menu {
        cursor:pointer;
        .Select-option {
          color: $kinto-tinted-grayscale-7;
          font-weight: bold;
          font-style: $base-font;
          &.is-selected {
            background-color: $kinto-blue;
            color: $kinto-white;
            &.is-focused {
              background-color: rgba($kinto-blue, 0.8);
            }
          }
          &.is-focused {
            background-color: rgba($kinto-blue, 0.2);
          }
        }
      }
    }
    .Select-placeholder {
      width: 100%;
      font-size: 14px;
      font-family: "Nunito", sans-serif;
      color: $kinto-tinted-grayscale-7;
      @include placeholder($input)
      line-height: 37px;
      font-weight: bold;
    }
    &.is-focused {
      .Select-placeholder {
        display: none;
      }
    }

    .Select-input{
      height: 37px;
      input {
        width: 100%;
        border: 0 none;
        box-shadow: none;
        cursor: default;
        display: inline-block;
        margin: 0;
        outline: none;
        padding: 0;
        -webkit-appearance: none;
      }
    }
    &.has-value.Select--single > .Select-control .Select-value .Select-value-label,
    .Select-value-label,
    &.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
      color: $kinto-tinted-grayscale-7;
      font-family: "Nunito", sans-serif;
      font-weight: bold;
    }
  }
  .Select-control {
    color: #427692;
    line-height: 24px;
    padding-left: 0;
    background: white;
    border: 2px solid #cbe3f9;
    cursor: default;
    display: table;
    height: 24px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
}
