.kintoapp-environment-form {
  @extend .kintoapp-form-container;
  .field-wrapper:not(.toggle) {
    margin-bottom: 20px;
  }
  .toggle {
    width: 100%;
    .toggle-message {
      margin-top: 5px;
      overflow: visible;
      white-space: nowrap;
      text-transform: none;
      color: $kinto-tinted-grayscale-7;
      font-weight: bold;
    }
  }
  .label.environment{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
}

.environment-edit-page {
  h5 {
    font-weight: normal;
  }
  .page-title {
    margin-bottom: 40px;
  }
  p {
    margin: 15px 0;
    font-size: 14px;
  }
  h4 {
    margin-top: 40px;
  }
  form {
    margin-bottom: 0;
  }
}
