.my-kintoblocks {
  // width: $dashboard-content-width;
  margin: 0 auto;

  .page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    .button {
      display: inline-block;
      width: 200px;
      height: 40px;
      line-height: 40px;
      font-weight: bold;
      margin: 0;
    }
    h2 {
      display: inline-block;
    }
  }
  .kintoblock-list {
    width: 100%;
    width: 100%;
    display: inherit;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr [col-start]);
    @media (min-width: 560px) and (max-width: 829px) {
      grid-template-columns: repeat(2, 1fr [col-start]);
    }
    @media (min-width: 830px) and (max-width: 1023px) {
      grid-template-columns: repeat(3, 1fr [col-start]);
    }
    @media (min-width: 1024px) and (max-width: 1170px) {
      grid-template-columns: repeat(2, 1fr [col-start]);
    }
    @media (min-width: 1171px) and (max-width: 1440px) {
      grid-template-columns: repeat(3, 1fr [col-start]);
    }
    @media (min-width: 1441px) {
      grid-template-columns: repeat(4, 1fr [col-start]);
    }
    grid-gap: 20px;
    justify-content: stretch;
    align-content: stretch;
    .kintoblock {
      background-color: $kinto-white;
      // padding: 20px;
      justify-self: stretch;
      flex-grow: 0;
      min-width: 250px;
      min-height: 250px;
      border-radius: 12px;
      position: relative;
      box-shadow: 0 2px 4px 0 rgba($kinto-tinted-grayscale-7, 0.1),
        0 10px 40px 0 rgba($kinto-tinted-grayscale-7, 0.1);
      .top {
        padding: 20px;
        .right {
          position: absolute;
          top: 20px;
          right: 20px;
        }
        .left{
          margin-bottom: 5px;
          img {
            width: 80px;
            height: 80px;
            border-radius: 12px;
          }
        }
      }
      .bottom {
        background-color: $kinto-grayscale-1;
        position: absolute;
        bottom: 0;
        height: 80px;
        width: 100%;
        border-radius: 0 0 12px 12px;
        padding: 0 20px 20px 20px;
        .dropdown.wide, .dropdown {
          position: relative;
          top: 10px;
        }
        .icons .left {
          position: relative;
          top: 10px;
          left: -8px;
          display: flex;
          .dropdown {
            position: relative;
            right: 0;
            .dropdown-content {
              left: -114%;
            }
          }
        }
      }
      .text {
        .name-and-tag{
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: 270px;
        }
        .name {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: bold;
          margin-bottom: 0;
          max-width: 200px;
          display: inline-block;
          // TODO: on hover full text to be shown
        }
        .version {
          font-weight: normal;
          color: $kinto-tinted-grayscale-7;
          margin: 0;
        }
        .text-highlight {
          font-size: 14px;
        }
      }
      .icons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        .applications {
          .dependency {
            min-width: 48px;
            min-height: 48px;
            border-radius: 12px;
            position: absolute;
            left: 0;
            &.service-dep {
              @include backgroundImage('/images/icon-generic-service-small-border-1.svg', 48px, 48px);
            }
            &.kintoblock-dep {
              @include backgroundImage('/images/icon-generic-kintoblock-small-border-1.svg', 48px, 48px);
            }
            &:nth-child(1){
              &.kintoblock-dep {
                @include backgroundImage('/images/icon-generic-kintoblock-small-border-1.svg', 48px, 48px);
              }
              &.service-dep{
                @include backgroundImage('/images/icon-generic-service-small-border-1.svg', 48px, 48px);
              }
              left: 0px;
              z-index: 3;
            }
            &:nth-child(2){
              &.kintoblock-dep {
                @include backgroundImage('/images/icon-generic-kintoblock-small-border-2.svg', 48px, 48px);
              }
              &.service-dep{
                @include backgroundImage('/images/icon-generic-service-small-border-2.svg', 48px, 48px);
              }
              left: 20px;
              z-index: 2;
            }
            &:nth-child(3){
              &.kintoblock-dep {
                @include backgroundImage('/images/icon-generic-kintoblock-small-border-3.svg', 48px, 48px);
              }
              &.service-dep{
                @include backgroundImage('/images/icon-generic-service-small-border-3.svg', 48px, 48px);
              }
              z-index: 1;
              left: 40px;
            }
            &:nth-child(4){
              &.kintoblock-dep {
                @include backgroundImage('/images/icon-generic-kintoblock-small-border-4.svg', 48px, 48px);
              }
              &.service-dep{
                @include backgroundImage('/images/icon-generic-service-small-border-4.svg', 48px, 48px);
              }
              left: 60px;
            }
            &.number {
              min-width: 40px;
              min-height: 40px;
              line-height: 40px;
              text-align: center;
              background-color: $kinto-white;
              border-radius: 20px;
              margin-left: 120px;
              margin-top: 4px;
            }
          }
        }
        .menu {
          border: 0;
          border-radius: 20px;
          height: 40px;
          width: 40px;
          @include backgroundImage('/images/icon-more-actions.svg', 40px, 40px);
        }
        .menu-hidden {
          position: absolute;
          right: 20px;
          &.dependency-dropdown{
            .title {
              padding: 5px 0 5px;
              margin-bottom: 10px;
            }
            .line {
              margin: 0;
            }
            .dropdown-content{
              min-width: 340px;
            }
            button {
              padding: 10px 20px;
              .dependency.kintoblock-dep {
                @include backgroundImage('/images/icon-generic-kintoblock-small-4.svg', 38px, 38px);
              }
              display: flex;
              justify-content: flex-start;
            }
          }
          .dropdown-button {
            display: none;
          }
        }
      }
      &.create {
        .icons {
          background-color: $kinto-grayscale-1;
          position: absolute;
          bottom: 0;
          height: 80px;
          width: 100%;
          border-radius: 0 0 12px 12px;
        }
        .add-new {
          .inner {
            @include backgroundImage('/images/icon-new-blue-large.svg', 40px, 40px);
            position: absolute;
            bottom: 20px;
            right: 20px;
            z-index: 1;
          }
          .pulsate {
            animation: pulsate 1s linear infinite alternate;
            width: 50px;
            height: 50px;
            border-radius: 25px;
            position: absolute;
            bottom: 15px;
            right: 15px;
          }
        }
        border-top: solid 10px $kinto-tinted-grayscale-6;
        .text {
          margin-bottom: 60px;
          padding: 20px;
          h3 {
            font-weight: bold;
          }
          img {
            width: 80px;
            height: 80px;
            margin-bottom: 5px;
          }
        }
        .icons .applications{
          .application {
            margin-left: 20px;
            background-image: url('/images/icon-generic-application-small-border.svg');
            background-size: contain;
          }
          .kintoblock-dep {
            margin-left: 0;
            background-image: url('/images/icon-generic-kintoblock-small-border.svg');
            background-size: contain;
          }
        }
        .application, .kintoblock-dep {
          position: absolute;
          bottom: 15px;
          left: 20px;
        }
      }
      &.purple {
        border-top: solid 10px $kinto-purple-light;
      }
      &.lapis {
        border-top: solid 10px $kinto-lapis-light;
      }
      &.blue {
        border-top: solid 10px $kinto-blue-light;
      }
      &.coral {
        border-top: solid 10px $kinto-coral-light;
      }
      &.orange {
        border-top: solid 10px $kinto-orange-light;
      }
      &.yellow {
        border-top: solid 10px $kinto-yellow-light;
      }
      &.green {
        border-top: solid 10px $kinto-green-light;
      }
      &.turquoise {
        border-top: solid 10px $kinto-turquoise-light;
      }
      &.gray {
        border-top: solid 10px $kinto-tinted-grayscale-6;
      }
    }
  }
}

.breadcrumbs {
  color: $kinto-tinted-grayscale-9;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    background-color: rgba($kinto-blue-light, 0.1);
  }
  100% {
    transform: scale(1.2);
    background-color: rgba($kinto-blue-light, 0.4);
  }
}
