
.kintoblock-service {
  .main-service-icon {
    background-color:      $kinto-grayscale-1;
  }
  .service-card {
    background-color:      $kinto-white;
    .corner {
      @extend .coming;
      &.check {
        background-color:  $kinto-tinted-grayscale-1;
      }
    }
    .main-content {
      h4 {
        color:             $kinto-grayscale-7;
      }
    }
    .fake-button {
      .button {
        @extend .secondary;
      }
    }
    .bottom {
      background-color:    $kinto-grayscale-1;
      &.enabled {
        background-color:  rgba(94,210,162,0.20);
        color:             $kinto-green-dark;
      }
    }
  }
  &.service-fields {
    margin-bottom: 40px;
  }
}
.analytics-services {
  .main-service-icon {
    background-color:      $kinto-white;
  }
  .service-card {
    background-color:      $kinto-tinted-grayscale-8;
    .corner {
      @extend .coming;
      &.check {
        background-color:  $kinto-tinted-grayscale-9;
        .icon {
          @include backgroundImage('/images/icon-blue-new.svg', 75px, 20px);
          transform:       rotate(45deg);
        }
      }
    }
    .main-content {
      h4 {
        color:             $kinto-grayscale-5;
      }
    }
    .fake-button {
      .button {
        @extend .dark;
      }
    }
    .bottom {
      background-color:    $kinto-grayscale-9;
      &.enabled {
        background-color:  rgba(94,210,162,0.40);
        color:             $kinto-white;
      }
    }
  }
}
.cards {
  display:                 grid;
  grid-template-columns:   1fr 1fr 1fr;
  grid-column-gap:         20px;
  .service-card {
    @extend .box-shadow-standard;
    border-radius:         12px;
    position:              relative;
    overflow:              hidden;
    height:                340px;
    .coming {
      h6 {
        font-size:         12px;
        margin:            0;
        color:             $kinto-white;
      }
    }
    .corner {
      @extend .coming;
      background-color:    $kinto-blue-muted;
      padding-top:         30px;
      padding-bottom:      20px;
      top:                 -18px;
      left:                -55px;
      &.plus {
        .icon {
          @include backgroundImage('/images/icon-blue-new.svg', 75px, 20px);
          transform:       rotate(45deg);
        }
      }
      &.check {
        .icon {
          @include backgroundImage('/images/icon-status-success-small.svg', 75px, 20px);
          transform:       rotate(45deg);
        }
      }
    }
    .open {
      position:            absolute;
      right:               10px;
      top:                 10px;
      width:               80px;
      z-index:             3;
      .button.secondary {
        min-width:         80px;
      }
    }
    .main-content {
      padding:             0 40px;
      h4, h5 {
        text-align:        center;
      }
      h5 {
        color:             $kinto-grayscale-6;
        font-weight:       normal;
        line-height:       20px;
        margin-bottom:     0;
      }
      h4 {
        margin-bottom:     2px;
      }
    }
    .fake-button {
      padding:             0 38px 38px 38px;
      position:            absolute;
      margin:              0 auto;
      bottom:              40px;
      width:               100%;
      left:                -2px;
    }
    .bottom {
      position:            absolute;
      margin-bottom:       0;
      bottom:              0;
      width:               100%;
      height:              40px;
      padding:             8px 4px 4px 4px;
      text-align:          center;
      text-transform:      capitalize;
      font-weight:         bold;
    }
    &.selected {
      border:              solid 4px $kinto-blue;
      .face {
        overflow:          hidden;
        padding:           0;
        .corner {
          padding-top:     30px;
          padding-bottom:  20px;
          top:             -22px;
          left:            -59px;
        }
      }
      .bottom {
        padding:           8px 0 0 0;
        height:            36px;
      }
      .fake-button {
        padding:           0 34px 34px 34px;
        bottom:            40px;
      }
      .open {
        right:             6px;
        top:               6px;
      }
    }
    &.toggle-field {
      height:              300px;
      .fake-button {
        bottom:            0;
      }
    }
    .face {
      height:              300px;
      overflow:            hidden;
      padding:             4px 4px 0 4px;
    }
  }
}
.extended-information {
  display:                 grid;
  grid-template-columns:   2fr 1fr;
  grid-template-rows:      1fr;
  @extend .box-shadow-standard;
  border-radius:           12px;
  margin-top:              20px;
  min-height:              450px;
  background-color:        $kinto-white;
  position:                relative;
  &:after {
    content:               "";
    position:              absolute;
    width:                 0;
    top:                   -9px;
    right:                 16.9%;
    border-left:           10px solid transparent;
    border-right:          10px solid transparent;
    transition:            all 0.3s ease-in-out;
    border-bottom:         10px solid $kinto-white;
  }
  &.MONGO_DB:after, &.KIBANA:after {
    left:                  15.4%;
  }
  &.MESSAGE_PASSING:after, &.PROMETHEUS:after {
    left:                  49.3%;
  }
  &.SHARED_MEMORY:after, &.ZIPKIN:after {
    border-bottom:         10px solid $kinto-tinted-grayscale-1;
    right:                 15.4%;
  }
  h5:not(.bottom), li {
    font-weight:           normal;
    color:                 $kinto-grayscale-6;
  }
  .information-area {
    padding:               40px;
    display:               grid;
    grid-template-columns: 80px 1fr;
    grid-column-gap:       40px;
    .main-service-icon {
      margin-top:          0;
    }
    h2 {
      margin-top:          0;
    }
  }
  .action-area {
    background-color:      $kinto-grayscale-1;
    padding:               40px;
    border-radius:         0 12px 12px 0;
    .button {
      margin-bottom:       20px;
    }
  }
}
.main-service-icon {
  height:                  80px;
  width:                   80px;
  margin:                  40px auto 14px;
  border-radius:           40px;
  &.MONGO_DB{
    @include backgroundImage('/images/icon-services-kintoblocks-mongodb-large.svg', 80px, 80px);
  }
  &.MESSAGE_PASSING{
    @include backgroundImage('/images/icon-services-kintoblocks-message-passing-large.svg', 80px, 80px);
  }
  &.SHARED_MEMORY{
    @include backgroundImage('/images/icon-services-kintoblocks-shared-memory-large.svg', 80px, 80px);
  }
  &.KIBANA{
    @include backgroundImage('/images/icon-services-analytics-kibana-large.svg', 80px, 80px);
  }
  &.PROMETHEUS{
    @include backgroundImage('/images/icon-services-analytics-prometheus-large.svg', 80px, 80px);
  }
  &.ZIPKIN{
    @include backgroundImage('/images/icon-services-analytics-zipkin-large.svg', 80px, 80px);
  }
}

.service-list {
  .line {
    border-bottom:         solid 2px $kinto-tinted-grayscale-2;
    margin:                40px 0;
  }
}

.toggle-services {
  display: flex;
  justify-content: center;
  .toggle {
    min-width: 264px;
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: $kinto-tinted-grayscale-1;
    border-radius: 4px;
    .switch {
      margin-top: 0;
      .toggle-message {
        margin-top: 6px;
      }
    }
    h6 {
      color: $kinto-tinted-grayscale-7;
    }
  }
}
