.about-us{
  &.content{
    margin-top: 0;
    padding-top: 50px;
    @include abovetablet {
      margin-top: 60px;
      padding-top: 60px;
      padding-bottom: $margin-base*5;
    }
  }
  .card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .staff-card {
      margin-bottom: $margin-base*5;
    }
    &.two {
      justify-content: space-evenly;
      .staff-card {
        margin:0 0 $margin-base*8 0;
      }
    }
    &.three{
      @include tablet {
        justify-content: space-between;
        .staff-card {
          margin:0 0 $margin-base*8 0;
        }
      }
    }
    @include tablet {
      margin-bottom: $margin-base*2;
      &.four{
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
    @include desktop {
      flex-wrap: nowrap;
      justify-content: space-between;
      &.three {
        justify-content: center;
        .staff-card {
          margin: 0 $margin-base*5;
        }
      }
    }
  }
}

.meet-the-rebels {
  .ribbons {
    @include backgroundImage('../images/background ribbons.png', 100%, auto)
    width: 100%;
    height: 100%;
    position: fixed;
    top: -24%;
    transition: all 0.1s linear;
    @include abovetablet {
      top: -18%;
    }
    z-index: -1;
    &.faded {
      opacity: .4;
    }
  }
  .fixed-header {
    position: fixed;
    transition: all 0.2s linear;
    @include tablet {
      width: $tablet-content-width;
    }
    @include desktop {
      width: $content-width;
    }
    &.faded {
      opacity: 0;
    }
  }
  h1, h3 {
    text-align: center;
    text-transform: none;
  }
  h1 {
    margin-top: 0;
  }
  .text-with-image {
    margin-top: 230px;
    z-index: 1;
    @include tablet {
      margin-top: 300px;
      display: flex;
      flex-direction: column;
    }
    @include desktop {
      margin-top: 300px;
      display: flex;
      flex-direction: row;
    }
    img {
      display: none;
      @include tablet {
        display: block;
        border-radius: 12px 12px 0 0;
      }
      @include desktop {
        display: block;
        border-radius: 12px 0 0 12px;
      }
    }
    .text {
      padding: 40px;
      background-color: $kinto-tinted-grayscale-9;
      display: flex;
      align-items: center;
      border-radius: 12px;
      h4{
        text-align: center;
        color: $kinto-white;
      }
      @include tablet {
        border-radius: 0 0 12px 12px;
      }
      @include desktop {
        border-radius: 0 12px 12px 0;
        h4{
          text-align: left;
        }
      }
    }
  }
}
