
// ---------- TYPEFACE ---------- //
$base-font: 'Nunito', sans-serif;

h1, .h1 {
  font-size: 28px;
  line-height: 46px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: rgba(12,75,93,1);
  text-transform: capitalize;
  @include abovetablet {
    font-size: 42px;
  }
}

h2, .h2 {
  font-size: 24px;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
  color: rgba(8,58,69,1);
  text-transform: capitalize;
  @include abovetablet {
    font-size: 28px;
  }
}

h3, .h3 {
  font-size: 20px;
  line-height: 24px;
  color: rgba(66,118,146,1);
  text-transform: capitalize;
  font-weight: normal;
}

p, h3, h4, h5, h6, .h3, .h4, .h5, .h6 {
  font-family: 'Nunito', sans-serif;
  margin: 0 0 $margin-base 0;
}

p, h4, .h4 {
  font-size: 18px;
  color: rgba(85,111,125,1);
  line-height: 24px;
  font-family: $base-font;
  @include abovetablet {
    font-size: 16px;
  }
}

h5, .h5 {
  font-size: 16px;
  color: rgba(85,111,125,1);
  line-height: 24px;
  @include abovetablet {
    font-size: 14px;
  }
}

h6, .h6 {
  font-size: 14px;
  color: rgba(162,176,188,1);
  line-height: 24px;
  @include abovetablet {
    font-size: 12px;
  }
}

a {
  font-family: $base-font;
  font-weight: bold;
  font-size: 16px;
  color: rgba(24,156,186,1);
  letter-spacing: 0;
  line-height: 24px;
  &:hover{
    color: rgba(26,176,209,1);
  }
  // &:visited{
  //   color: rgba(20,136,162,1);
  // }
}

.fonts {
  .section{
    width: 50%;
    display: inline-block;
  }
}

.bold {
  font-weight: 700;
}
.semi-bold {
  font-weight: 600;
}

.center {
  text-align: center;
}
