* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $base-font;
}

body {
  margin: 0;
}

a:hover {
  cursor: pointer;
}

.kintoblocks-master-container {
  min-height: 100vh;
}

.content {
  max-width: $content-width;
  margin: 60px auto 0;
  padding: 60px 10px 0;

  @include tablet {
    max-width: $tablet-content-width;

    &.smaller-tablet {
      max-width: $smaller-tablet-content-width;
    }
  }


  @include abovetablet {
    padding: 60px 0 0;
  }
}

.bg-light-blue {
  background-color: $kinto-tinted-grayscale-1;
}

.unstyled-list {
  list-style: none;
  padding-left: 0;
  margin: 0;

  li a {
    text-decoration: none;
  }
}

textarea, input, button {
  outline: none;
}

a {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.hide-text {
  line-height: 0;
  font-size: 0;
  color: transparent;
  &:hover {
    color: transparent;
  }
}

.hide {
  display: none;
}
.hide-important {
  display: none !important;
}
// override browser default color and border
button.dropdown-button.menu, button.dropdown-button {
  margin-top: 3px;
  border: none;
  background-color: transparent !important;
}

// for items we have faded for alpha release
.dimmed {
  opacity: 0.2;
}

.coming {
  position: absolute;
  transform: rotate(-45deg);
  top: -16px;
  left: -50px;
  background-color: $kinto-green-light;
  color: $kinto-white;
  padding-top: 36px;
  margin: 0;
  padding-bottom: 10px;
  width: 135px;
  text-align: center;
}

.box-shadow-standard {
  box-shadow: 0 2px 4px 0 $kinto-box-shadow, 0 10px 40px 0 $kinto-box-shadow;
}
