a.link-button{
  box-shadow: 0 2px 4px 0 rgba($kinto-tinted-grayscale-7,0.10), 0 10px 40px 0 rgba($kinto-tinted-grayscale-7,0.10);
  border-radius: 12px;
  height: 120px;
  margin-bottom: $margin-base*3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &.kinto-purple {
    background: $kinto-purple-light;
  }
  &.kinto-blue {
    background: $kinto-lapis-light;
  }
  &.kinto-green {
    background: $kinto-turquoise-light;
  }
  .text{
    text-align: center;
  }
  .link-button-inner {
    .icon {
      display: none;
    }
    h4 {
      color: $kinto-white;
      font-weight: normal;
      &.larger.bold{
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  @include abovetablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 20px;
    h4:nth-child(1) {
      margin-bottom: 2px;
      font-size: 20px;
    }
    h4:nth-child(2) {
      margin-bottom: 0;
    }
    .icon-wrapper {
      display: block;
      .faqs {
        @include backgroundImage('../images/icon-frequently-asked-questions.svg', 80px, 80px);
      }
      .slack {
        @include backgroundImage('../images/icon-slack-community.svg', 80px, 80px);
      }
      .press {
        @include backgroundImage('../images/icon-press-kit.svg', 80px, 80px);
      }
    }
  }
}
