.the-egg {
  position: relative;
  height: 600px;
  background-color: transparent;
  overflow: hidden;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .background-three{
    @include backgroundImage('../images/dragon-egg-background.png', 640px, 640px);
  }
  .background-two{
    @include backgroundImage('../images/dragon-egg-bokeh-1.png', 640px, 640px);
  }
  .background-one{
    @include backgroundImage('../images/dragon-egg-bokeh-2.png', 640px, 640px);
  }
  .background-three {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .egg{
    @include backgroundImage('../images/dragon-egg.png', 270px, 360px);
    position:relative;
    background-size: contain;
    transform-origin: 50% 100%;
    top: 3%;
    left: 0vw;
    transform: translate(50%, -100%);
    animation: egg 2s ease-in-out infinite alternate;
  }
  .background-three, .background-two, .background-one{
    background-position: center;
    background-size: 110%;
  }

  .background-one{
    position:absolute;
    top: 0;
    left: 0;
    animation: spin-and-fade 2s ease-in-out infinite alternate-reverse;
    transform: translate(50%, -100%);
  }
  .background-two{
    position:absolute;
    top: 0;
    left: 0;
    animation: spin-and-fade 2s ease-in-out infinite alternate;
    transform: translate(50%, -100%);
  }

  @include desktop {
    display: inline-block;
  }
}

@keyframes egg {
  0% {
      transform: rotate(0deg);
  }
  15% {
      transform: rotate(-1.5deg);
  }
  20% {
      transform: rotate(1.5deg);
  }
  25% {
      transform: rotate(-1.5deg);
  }
  30% {
      transform: rotate(1deg);
  }
  60% {
      transform: rotate(0deg);
  }
  90% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

@keyframes spin-and-fade {
  0% {
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    transform: rotate(6deg);
    opacity: 0.4;
  }
}

.content.notify-me-and-egg {
  margin:0;
  padding:0;
  @include abovetablet {
    padding: 60px 0 0;
    margin: 60px auto 0;
  }

}

.scroll-for-more {
  display:none;
}

@include desktop {
  .notify-me-and-egg {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .scroll-for-more {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 50px;
      h6{
        text-transform: uppercase;
        margin-bottom: 0;
        margin-right: 14px;
      }
      img {
        animation: up-and-down 1s ease-in-out infinite alternate;
      }
    }
  }
  .the-egg {
    width: 50%;
    overflow: visible;
    top: -7vh;
    .egg {
      top: 22%;
      left: 21%;
    }
    .background-one, .background-two {
      left: -16%;
    }
  }
}

@keyframes up-and-down {
  0% { transform: translateY(-20%); }
  20% { transform: translateY(5%); }
  50% { transform: translateY(-5%); }
  80% { transform: translateY(0%); }
  100% { transform: translateY(-20%); }
}
