
// ---------- VARIABLES ---------- //

$tablet-width: 768px;
$desktop-width: 1440px;
$content-width: 940px;
$tablet-content-width: 640px;
$column-width: 60px;
$margin-base: 10px;
$desktop-card-3: 300px;
$tablet-card-2: 314px;

// ------- COLOR VARIABLES -------- //

$main-background:   rgba(255,255,255,1);
$light-blue-background:  rgba(245,249,255,1);

$kinto-turquoise:   rgba(0,188,152,1);
$kinto-green:       rgba(25,191,123,1);
$kinto-lime:        rgba(122,203,83,1);
$kinto-blue:        rgba(30,196,233,1);
$kinto-lapis:       rgba(78,130,238,1);
$kinto-purple:      rgba(122,104,232,1);
$kinto-yellow:      rgba(255,219,24,1);
$kinto-orange:      rgba(255,148,60,1);
$kinto-coral:       rgba(244,100,100,1);

$input-label:       rgba(66,118,146,1);
$input:             rgba(152,180,205,1);
$input-entered:      $input-label;
$input-focus:       rgba(75,207,237,1);
$input-error:       rgba(247,146,146,1);

// ------- Temporary home page ------- //

$blog-dev:  rgba(94,210,162,1);
$blog-dev-text:     rgba(17,133,85,1);
$blog-exec:    rgba(162,149,238,1);
$blog-exec-text:    rgba(122,104,232,1);

$blog-design:       rgba(255,180,118,1);
$blog-design-text:  rgba(229,134,56,1);

$h2-follow-our-journey:  rgba(152,180,205,1);
$h5-blog-date:           #A2B0BD;
$h5-blog-author:         rgba(85,111,125,1);
