@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700|Raleway:600");
h1, .h1 {
  font-size: 28px;
  line-height: 46px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #0c4b5d; }
  @media (min-width: 768px) {
    h1, .h1 {
      font-size: 42px; } }

h2, .h2 {
  font-size: 24px;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
  color: #083a45; }
  @media (min-width: 768px) {
    h2, .h2 {
      font-size: 28px; } }

h3, .h3 {
  font-size: 20px;
  line-height: 24px;
  color: #427692;
  font-weight: normal; }

p, h3, h4, h5, h6, .h3, .h4, .h5, .h6 {
  font-family: 'Nunito', sans-serif;
  margin: 0 0 10px 0; }

p, h4, .h4 {
  font-size: 18px;
  color: #556f7d;
  line-height: 24px;
  font-family: "Nunito", sans-serif; }
  @media (min-width: 768px) {
    p, h4, .h4 {
      font-size: 16px; } }

h5, .h5 {
  font-size: 16px;
  color: #556f7d;
  line-height: 24px; }
  @media (min-width: 768px) {
    h5, .h5 {
      font-size: 14px; } }

h6, .h6 {
  font-size: 14px;
  color: #a2b0bd;
  line-height: 24px; }
  @media (min-width: 768px) {
    h6, .h6 {
      font-size: 12px; } }

a {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #1488a2;
  letter-spacing: 0;
  line-height: 24px; }
  a:hover {
    color: #1ec4e9; }

.fonts .section {
  width: 50%;
  display: inline-block; }

.bold {
  font-weight: 700; }

.semi-bold {
  font-weight: 600; }

.center {
  text-align: center; }

.main-navigation {
  width: 100%;
  background: white;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0 1px 0 0 rgba(66, 118, 146, 0.1), 0 2px 6px 0 rgba(66, 118, 146, 0.1);
  margin-bottom: 60px; }
  @media (min-width: 768px) {
    .main-navigation {
      display: block;
      display: flex;
      justify-content: space-between;
      align-items: center; } }
  .main-navigation .navigation-links {
    display: none; }
  .main-navigation .mobile-menu-toggle {
    background-image: url("../images/icon-menu.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 20px; }
    @media (min-width: 768px) {
      .main-navigation .mobile-menu-toggle {
        display: none; } }
  .main-navigation .mobile-navigation-logo {
    background-image: url("../images/logo-full-color.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 54px;
    height: 30px;
    margin: 20px auto; }
    @media (min-width: 768px) {
      .main-navigation .mobile-navigation-logo {
        display: none; } }
  .main-navigation .mobile-navigation-logo, .main-navigation .mobile-menu-toggle, .main-navigation .navigation-logo {
    z-index: 150; }
  .main-navigation .mobile-menu {
    visibility: visible;
    opacity: 1;
    padding-top: 60px;
    background-color: #f5f9ff;
    position: absolute;
    top: 60px;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 60px 40px 20px;
    transition: all 0.2s linear; }
    .main-navigation .mobile-menu .button {
      margin-bottom: 40px;
      max-width: 240px; }
      .main-navigation .mobile-menu .button.secondary, .main-navigation .mobile-menu .button.default {
        height: 40px;
        line-height: 40px;
        font-weight: bold;
        display: none; }
    @media (min-width: 768px) {
      .main-navigation .mobile-menu {
        display: none; } }
  .main-navigation .hidden {
    visibility: hidden;
    opacity: 0; }
  @media (min-width: 768px) {
    .main-navigation .navigation-logo {
      background-image: url("../images/logo-full-color-horizontal.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 200px;
      height: 30px;
      margin: 0 0 0 40px;
      float: left; }
    .main-navigation .navigation-links {
      display: block;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .main-navigation .navigation-links ul {
        list-style: none;
        margin-right: 40px;
        display: flex;
        align-items: baseline; }
        .main-navigation .navigation-links ul li {
          margin-left: 40px;
          display: inline-block; }
          .main-navigation .navigation-links ul li:last-child {
            margin-left: 20px; }
          .main-navigation .navigation-links ul li a.button.default {
            display: block; }
          .main-navigation .navigation-links ul li h5 {
            margin: 0; }
          .main-navigation .navigation-links ul li a.button.default.navigation-button, .main-navigation .navigation-links ul li a.button.secondary.navigation-button {
            height: 40px;
            line-height: 40px;
            min-width: 120px;
            max-width: 120px;
            margin: 0;
            font-weight: bold;
            display: none; } }
  @media (min-width: 768px) and (min-width: 768px) and (max-width: 890px) {
    .main-navigation .navigation-links ul {
      margin-right: 0; }
      .main-navigation .navigation-links ul li a.default.navigation-button {
        display: none; } }

.title-with-lines {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .title-with-lines .line {
    border: solid 1px #98b4cd;
    border-radius: 2px;
    width: 33.3%;
    height: 0; }
  .title-with-lines h2 {
    color: #98b4cd;
    text-align: center;
    white-space: nowrap;
    margin-left: 20px;
    margin-right: 20px; }

.log-in-page, .sign-up-page {
  background-image: linear-gradient(-180deg, #9fddf2 10%, rgba(255, 255, 255, 0) 30%); }
  @media (min-width: 768px) {
    .log-in-page, .sign-up-page {
      background-image: url("/images/background@2x.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-attachment: fixed; } }

.log-in-and-sign-up-wrapper {
  margin-top: 40px; }
  @media (min-width: 768px) {
    .log-in-and-sign-up-wrapper {
      margin-top: 50px; } }
  @media (min-width: 1024px) {
    .log-in-and-sign-up-wrapper {
      display: flex;
      justify-content: space-between; }
      .log-in-and-sign-up-wrapper div.log-in-form {
        margin: 0px 20px 0; }
      .log-in-and-sign-up-wrapper .sign-up-form {
        margin: 0px 20px 0; }
        .log-in-and-sign-up-wrapper .sign-up-form form {
          margin-bottom: 0; } }
  .log-in-and-sign-up-wrapper .log-in-form, .log-in-and-sign-up-wrapper .sign-up-form {
    background-color: white;
    padding: 40px 30px 50px;
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(66, 118, 146, 0.1), 0 10px 40px 0 rgba(66, 118, 146, 0.1); }
    @media (min-width: 1024px) {
      .log-in-and-sign-up-wrapper .log-in-form, .log-in-and-sign-up-wrapper .sign-up-form {
        max-width: 440px; } }
    .log-in-and-sign-up-wrapper .log-in-form button, .log-in-and-sign-up-wrapper .sign-up-form button {
      height: 50px;
      font-size: 18px;
      font-weight: bold; }
      .log-in-and-sign-up-wrapper .log-in-form button.default, .log-in-and-sign-up-wrapper .sign-up-form button.default {
        margin-bottom: 10px; }
      .log-in-and-sign-up-wrapper .log-in-form button.dark, .log-in-and-sign-up-wrapper .sign-up-form button.dark {
        margin-bottom: 10px; }
    .log-in-and-sign-up-wrapper .log-in-form h2, .log-in-and-sign-up-wrapper .sign-up-form h2 {
      margin-top: 0;
      text-align: center;
      color: #245b70; }
      @media (min-width: 768px) {
        .log-in-and-sign-up-wrapper .log-in-form h2, .log-in-and-sign-up-wrapper .sign-up-form h2 {
          text-align: left; } }
    .log-in-and-sign-up-wrapper .log-in-form .title-with-lines, .log-in-and-sign-up-wrapper .sign-up-form .title-with-lines {
      margin-bottom: 0; }
      .log-in-and-sign-up-wrapper .log-in-form .title-with-lines h2, .log-in-and-sign-up-wrapper .sign-up-form .title-with-lines h2 {
        text-transform: uppercase;
        color: #a2b0bd;
        font-size: 14px;
        margin-bottom: 0; }
      .log-in-and-sign-up-wrapper .log-in-form .title-with-lines .line, .log-in-and-sign-up-wrapper .sign-up-form .title-with-lines .line {
        border: solid 1px #f5f9ff; }
    .log-in-and-sign-up-wrapper .log-in-form .checkbox-message, .log-in-and-sign-up-wrapper .sign-up-form .checkbox-message {
      text-transform: none; }
    .log-in-and-sign-up-wrapper .log-in-form a.forgot-password, .log-in-and-sign-up-wrapper .sign-up-form a.forgot-password {
      margin-top: 10px;
      display: inline-block;
      width: 100%;
      text-align: right;
      font-size: 14px; }
      @media (min-width: 768px) {
        .log-in-and-sign-up-wrapper .log-in-form a.forgot-password, .log-in-and-sign-up-wrapper .sign-up-form a.forgot-password {
          font-size: 12px; } }
    .log-in-and-sign-up-wrapper .log-in-form .byline, .log-in-and-sign-up-wrapper .sign-up-form .byline {
      font-size: 14px; }
      .log-in-and-sign-up-wrapper .log-in-form .byline h6, .log-in-and-sign-up-wrapper .sign-up-form .byline h6 {
        font-weight: normal; }
      .log-in-and-sign-up-wrapper .log-in-form .byline a, .log-in-and-sign-up-wrapper .sign-up-form .byline a {
        font-size: 14px; }
      @media (min-width: 768px) {
        .log-in-and-sign-up-wrapper .log-in-form .byline, .log-in-and-sign-up-wrapper .sign-up-form .byline {
          font-size: 12px; }
          .log-in-and-sign-up-wrapper .log-in-form .byline a, .log-in-and-sign-up-wrapper .sign-up-form .byline a {
            font-size: 12px; } }
  .log-in-and-sign-up-wrapper .log-in-form {
    margin-bottom: 40px; }

.sign-up-page .log-in-and-sign-up-wrapper .sign-up-form {
  margin-bottom: 40px; }

@media (min-width: 1024px) {
  .sign-up-page .log-in-and-sign-up-wrapper .sign-up-form {
    margin-bottom: 0; } }

.sign-up-page .log-in-and-sign-up-wrapper .log-in-form {
  margin-bottom: 0; }

@media (min-width: 1024px) {
  .front-page {
    margin-bottom: 100px; } }

.front-page h1, .front-page h3 {
  text-align: center;
  text-transform: none; }

.front-page h1 {
  margin-bottom: 30px; }

.notify-form {
  max-width: 460px;
  margin: 0 auto 60px; }
  @media (min-width: 1024px) {
    .notify-form {
      display: inline-block; } }

.names-field, .field-container {
  display: flex;
  justify-content: space-between; }
  .names-field .name-field, .names-field .field, .field-container .name-field, .field-container .field {
    width: 48%;
    min-width: 140px;
    display: inline-block; }
    .names-field .name-field:first-child, .names-field .field:first-child, .field-container .name-field:first-child, .field-container .field:first-child {
      margin-right: 20px; }

.email-field, .full-width-field {
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    .email-field, .full-width-field {
      margin-bottom: 30px; } }

label {
  height: 24px;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  color: #427692; }

input, textarea, select {
  color: #427692;
  height: 50px;
  width: 220px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  color: #427692;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 10px;
  padding-left: 20px;
  background: white;
  border: 2px solid #cbe3f9;
  border-radius: 4px;
  width: 100%; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #cbe3f9; }
  input:-moz-placeholder, textarea:-moz-placeholder, select:-moz-placeholder {
    color: #cbe3f9; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #cbe3f9; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
    color: #cbe3f9; }
  @media (min-width: 768px) {
    input, textarea, select {
      font-size: 16px; } }
  input:focus, textarea:focus, select:focus {
    border: 2px solid #3ecff0; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #cbe3f9; }
  input:-moz-placeholder, textarea:-moz-placeholder, select:-moz-placeholder {
    color: #cbe3f9; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #cbe3f9; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
    color: #cbe3f9; }

h5.byline {
  font-weight: normal;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #a2b0bd;
  letter-spacing: 0;
  line-height: 20px; }
  h5.byline.bold {
    font-weight: bold; }

.button {
  border-radius: 4px;
  min-width: 240px;
  height: 40px;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #083a45;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(-180deg, #56dfff 0%, #4ad9ff 100%);
  width: 100%;
  padding-top: 0;
  height: 50px;
  line-height: 50px;
  border: none;
  display: block; }
  .button:hover {
    background-image: linear-gradient(-180deg, #76e7ff 0%, #65e1ff 100%);
    box-shadow: 0 2px 8px 0 rgba(59, 194, 233, 0.4), inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px; }
  .button:active {
    background-image: linear-gradient(-180deg, #3db5df 0%, #47c1e4 100%);
    box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px; }
  .button.disabled, .button[disabled="true"] {
    background-image: linear-gradient(-180deg, #56dfff 0%, #4ad9ff 100%);
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px; }
  .button:hover {
    color: #083a45; }
  .button.dark {
    border-radius: 4px;
    min-width: 240px;
    height: 40px;
    margin: 0 auto;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    color: #083a45;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    color: white;
    background-image: linear-gradient(-180deg, #3a5662 0%, #354f59 100%);
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    line-height: 50px; }
    .button.dark:hover {
      background-image: linear-gradient(-180deg, #597482 0%, #516977 100%);
      box-shadow: 0 2px 8px 0 rgba(78, 121, 155, 0.4), inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
      border-radius: 4px; }
    .button.dark:active {
      background-image: linear-gradient(-180deg, #203f47 0%, #23454e 100%);
      box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.1);
      border-radius: 4px; }
    .button.dark.disabled, .button.dark[disabled="true"] {
      background-image: linear-gradient(-180deg, #3a5662 0%, #354f59 100%);
      box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
      border-radius: 4px; }
    .button.dark img {
      position: relative;
      top: 8px;
      margin-right: 10px; }
    @media (min-width: 1024px) {
      .button.dark {
        padding-bottom: 10px; } }
  .button .submitted {
    border-radius: 4px;
    min-width: 240px;
    height: 40px;
    margin: 0 auto;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    color: #083a45;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    color: white;
    background-image: linear-gradient(-180deg, #1bca88 0%, #1dd29b 100%);
    border-radius: 4px; }
  .button.secondary {
    border-radius: 4px;
    min-width: 240px;
    height: 40px;
    margin: 0 auto;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    color: #083a45;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    background-image: linear-gradient(-180deg, #deeafb 0%, #d8e6fa 100%);
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px; }
    .button.secondary:hover {
      background-image: linear-gradient(-180deg, #EEF4FD 0%, #EBF1FC 100%);
      box-shadow: 0 2px 8px 0 rgba(180, 204, 224, 0.4), inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
      border-radius: 4px; }
    .button.secondary:active {
      background-image: linear-gradient(-180deg, #C6DFF8 0%, #D0E5F9 100%);
      box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.1);
      border-radius: 4px; }
    .button.secondary.disabled, .button.secondary[disabled="true"] {
      background-image: linear-gradient(-180deg, #deeafb 0%, #d8e6fa 100%);
      box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
      border-radius: 4px; }

.checkbox {
  width: 30px;
  height: 30px;
  margin: 0 20px 20px 0;
  background-image: linear-gradient(0deg, #deeafb 0%, #d8e6fa 100%);
  box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.1);
  display: inline-block;
  border: none;
  -webkit-appearance: listbox;
  float: left; }
  .checkbox:hover {
    background-image: linear-gradient(0deg, #eef4fd 0%, #ebf1fc 100%); }
    .checkbox:hover.checked {
      background-image: url("/images/checkbox-large-checked-hover.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 30px;
      height: 30px; }
    @media (min-width: 1024px) {
      .checkbox:hover.checked {
        background-image: url("/images/checkbox-large-checked-hover.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 20px;
        height: 20px; } }
  @media (min-width: 768px) {
    .checkbox {
      width: 20px;
      height: 20px; } }
  .checkbox:focus {
    border: none; }
  .checkbox.checked {
    background-image: url("/images/checkbox-large-checked-regular.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px; }
    @media (min-width: 1024px) {
      .checkbox.checked {
        background-image: url("/images/checkbox-large-checked-regular.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 20px;
        height: 20px; } }

.checkbox-message {
  display: inline-block;
  margin-bottom: 20px;
  line-height: 30px;
  height: 30px;
  float: left; }
  @media (min-width: 768px) {
    .checkbox-message {
      height: 20px;
      line-height: 20px; } }
  .checkbox-message h6 {
    margin-top: 3px;
    font-size: 14px; }

.input-with-image-wrapper {
  position: relative; }
  .input-with-image-wrapper .show-password {
    position: absolute;
    top: 20px;
    right: 16px;
    background-image: url("/images/icon-entry-masked.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 10px; }
    .input-with-image-wrapper .show-password.checked {
      background-image: url("/images/icon-entry-visible.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 20px;
      height: 10px; }

form {
  margin-bottom: 40px; }

.line.divider {
  width: 100%;
  border: solid 1px #edf3fd;
  margin-bottom: 40px; }

.button-default {
  background-image: linear-gradient(-180deg, #56dfff 0%, #4ad9ff 100%);
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-family: "Nunito", sans-serif;
  color: #083a45;
  font-weight: bold; }

.the-egg {
  position: relative;
  height: 600px;
  background-color: transparent;
  overflow: hidden;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .the-egg .background-three {
    background-image: url("../images/dragon-egg-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 640px;
    height: 640px; }
  .the-egg .background-two {
    background-image: url("../images/dragon-egg-bokeh-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 640px;
    height: 640px; }
  .the-egg .background-one {
    background-image: url("../images/dragon-egg-bokeh-2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 640px;
    height: 640px; }
  .the-egg .background-three {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .the-egg .egg {
    background-image: url("../images/dragon-egg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 270px;
    height: 360px;
    position: relative;
    background-size: contain;
    transform-origin: 50% 100%;
    top: 3%;
    left: 0vw;
    transform: translate(50%, -100%);
    animation: egg 2s ease-in-out infinite alternate; }
  .the-egg .background-three, .the-egg .background-two, .the-egg .background-one {
    background-position: center;
    background-size: 110%; }
  .the-egg .background-one {
    position: absolute;
    top: 0;
    left: 0;
    animation: spin-and-fade 2s ease-in-out infinite alternate-reverse;
    transform: translate(50%, -100%); }
  .the-egg .background-two {
    position: absolute;
    top: 0;
    left: 0;
    animation: spin-and-fade 2s ease-in-out infinite alternate;
    transform: translate(50%, -100%); }
  @media (min-width: 1024px) {
    .the-egg {
      display: inline-block; } }

@keyframes egg {
  0% {
    transform: rotate(0deg); }
  15% {
    transform: rotate(-1.5deg); }
  20% {
    transform: rotate(1.5deg); }
  25% {
    transform: rotate(-1.5deg); }
  30% {
    transform: rotate(1deg); }
  60% {
    transform: rotate(0deg); }
  90% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes spin-and-fade {
  0% {
    transform: rotate(0);
    opacity: 1; }
  100% {
    transform: rotate(6deg);
    opacity: 0.4; } }

.content.notify-me-and-egg {
  margin: 0;
  padding: 0; }
  @media (min-width: 768px) {
    .content.notify-me-and-egg {
      padding: 60px 0 0;
      margin: 60px auto 0; } }

.scroll-for-more {
  display: none; }

@media (min-width: 1024px) {
  .notify-me-and-egg {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .notify-me-and-egg .scroll-for-more {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 50px; }
      .notify-me-and-egg .scroll-for-more h6 {
        text-transform: uppercase;
        margin-bottom: 0;
        margin-right: 14px; }
      .notify-me-and-egg .scroll-for-more img {
        animation: up-and-down 1s ease-in-out infinite alternate; }
  .the-egg {
    width: 50%;
    overflow: visible;
    top: -7vh; }
    .the-egg .egg {
      top: 22%;
      left: 21%; }
    .the-egg .background-one, .the-egg .background-two {
      left: -16%; } }

@keyframes up-and-down {
  0% {
    transform: translateY(-20%); }
  20% {
    transform: translateY(5%); }
  50% {
    transform: translateY(-5%); }
  80% {
    transform: translateY(0%); }
  100% {
    transform: translateY(-20%); } }

.blog-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 768px) {
    .blog-gallery {
      justify-content: space-between; } }

.avatar {
  border-radius: 20px;
  display: inline-block;
  float: right; }
  .avatar.laura {
    background-image: url("/images/team-small-laura-ambrose.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px; }
  .avatar.raven {
    background-image: url("/images/team-small-raven-yu.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px; }
  .avatar.nadeem {
    background-image: url("/images/team-small-nadeem-khedr.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px; }
  .avatar.joseph {
    background-image: url("/images/team-small-joseph-cooper.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px; }
  .avatar.francois {
    background-image: url("/images/team-francois-courtin.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }

.card-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between; }

.blog-card {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(66, 118, 146, 0.1), 0 10px 40px 0 rgba(66, 118, 146, 0.1);
  border-radius: 12px;
  min-width: 300px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .blog-card {
      margin: 0 0 12px 0; } }
  @media (min-width: 1024px) {
    .blog-card {
      margin: 0 0 20px 0; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .blog-card {
      max-width: 314px; } }
  @media (min-width: 1024px) {
    .blog-card {
      max-width: 300px; } }
  .blog-card .title {
    display: flex;
    margin-bottom: 30px; }
    .blog-card .title .vertical-line {
      display: inline-block;
      border-radius: 2px; }
      .blog-card .title .vertical-line.development {
        border: solid 2px #5ed2a2; }
      .blog-card .title .vertical-line.exec {
        border: solid 2px #a295ee; }
      .blog-card .title .vertical-line.design {
        border: solid 2px #ffb476; }
    .blog-card .title h3 {
      margin: 0 0 0 16px;
      display: inline-block;
      font-weight: bold; }
  .blog-card .name-date-and-department {
    font-size: 16px;
    display: inline-block;
    font-family: "Nunito", sans-serif; }
    .blog-card .name-date-and-department .date {
      color: #a2b0bd; }
    .blog-card .name-date-and-department .name {
      font-weight: bold;
      color: #556f7d; }
    .blog-card .name-date-and-department .department {
      font-weight: bold; }
      .blog-card .name-date-and-department .department h4 {
        margin: 8px 0 0 0; }
      .blog-card .name-date-and-department .department.development h4 {
        color: #118555; }
      .blog-card .name-date-and-department .department.design h4 {
        color: #d6792c; }
      .blog-card .name-date-and-department .department.exec h4 {
        color: #6759b7; }

.staff-card {
  width: 220px;
  text-align: center;
  display: inline-block; }
  .staff-card h3 {
    font-weight: bold; }
  .staff-card h4, .staff-card h5 {
    font-weight: normal; }
  .staff-card h5 {
    position: relative;
    padding-top: 14px; }
    .staff-card h5:before {
      content: "";
      background: #edf3fd;
      position: absolute;
      top: 0;
      left: 80px;
      height: 2px;
      width: 60px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .staff-card {
      width: 200px;
      margin-bottom: 80px; }
      .staff-card h5:before {
        left: 70px; } }
  .staff-card img {
    width: 100%;
    background: white;
    box-shadow: 0 2px 4px 0 rgba(66, 118, 146, 0.1), 0 10px 40px 0 rgba(66, 118, 146, 0.1);
    border-radius: 50%;
    margin-bottom: 20px; }

.about-us.content {
  margin-top: 0;
  padding-top: 50px; }
  @media (min-width: 768px) {
    .about-us.content {
      margin-top: 60px;
      padding-top: 60px;
      padding-bottom: 50px; } }

.about-us .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .about-us .card-container .staff-card {
    margin-bottom: 50px; }
  .about-us .card-container.two {
    justify-content: space-evenly; }
    .about-us .card-container.two .staff-card {
      margin: 0 0 80px 0; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .about-us .card-container.three {
      justify-content: space-between; }
      .about-us .card-container.three .staff-card {
        margin: 0 0 80px 0; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .about-us .card-container {
      margin-bottom: 20px; }
      .about-us .card-container.four {
        justify-content: space-between;
        flex-wrap: wrap; } }
  @media (min-width: 1024px) {
    .about-us .card-container {
      flex-wrap: nowrap;
      justify-content: space-between; }
      .about-us .card-container.three {
        justify-content: center; }
        .about-us .card-container.three .staff-card {
          margin: 0 50px; } }

.meet-the-rebels .ribbons {
  background-image: url("../images/background ribbons.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
  width: 100%;
  height: 100%;
  position: fixed;
  top: -24%;
  transition: all 0.1s linear;
  z-index: -1; }
  @media (min-width: 768px) {
    .meet-the-rebels .ribbons {
      top: -18%; } }
  .meet-the-rebels .ribbons.faded {
    opacity: .4; }

.meet-the-rebels .fixed-header {
  position: fixed;
  transition: all 0.2s linear; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .meet-the-rebels .fixed-header {
      width: 640px; } }
  @media (min-width: 1024px) {
    .meet-the-rebels .fixed-header {
      width: 940px; } }
  .meet-the-rebels .fixed-header.faded {
    opacity: 0; }

.meet-the-rebels h1, .meet-the-rebels h3 {
  text-align: center;
  text-transform: none; }

.meet-the-rebels h1 {
  margin-top: 0; }

.meet-the-rebels .text-with-image {
  margin-top: 230px;
  z-index: 1; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .meet-the-rebels .text-with-image {
      margin-top: 370px;
      display: flex;
      flex-direction: column; } }
  @media (min-width: 1024px) {
    .meet-the-rebels .text-with-image {
      margin-top: 300px;
      display: flex;
      flex-direction: row; } }
  .meet-the-rebels .text-with-image img {
    display: none; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .meet-the-rebels .text-with-image img {
        display: block;
        border-radius: 12px 12px 0 0; } }
    @media (min-width: 1024px) {
      .meet-the-rebels .text-with-image img {
        display: block;
        border-radius: 12px 0 0 12px; } }
  .meet-the-rebels .text-with-image .text {
    padding: 40px;
    background-color: #0c4b5d;
    display: flex;
    align-items: center;
    border-radius: 12px; }
    .meet-the-rebels .text-with-image .text h4 {
      text-align: center;
      color: white; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .meet-the-rebels .text-with-image .text {
        border-radius: 0 0 12px 12px; } }
    @media (min-width: 1024px) {
      .meet-the-rebels .text-with-image .text {
        border-radius: 0 12px 12px 0; }
        .meet-the-rebels .text-with-image .text h4 {
          text-align: left; } }

.job-openings {
  padding: 40px; }
  .job-openings .content {
    margin-top: 0;
    padding-top: 0; }
  .job-openings .title-with-lines {
    margin-bottom: 40px; }
  .job-openings .job-announcements {
    padding: 40px 20px;
    min-height: 140px;
    text-align: center;
    background: white;
    box-shadow: 0 2px 4px 0 rgba(66, 118, 146, 0.1), 0 10px 40px 0 rgba(66, 118, 146, 0.1);
    border-radius: 12px; }
    .job-openings .job-announcements h4 {
      font-weight: normal; }
      @media (min-width: 768px) {
        .job-openings .job-announcements h4 span {
          font-weight: bold; } }

.resources.content {
  margin-top: 0; }
  .resources.content .cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    @media (min-width: 768px) {
      .resources.content .cards {
        justify-content: space-between; } }

.resource-card {
  height: 220px;
  width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .resource-card {
      width: 310px;
      margin: 0 0 20px 0; } }
  @media (min-width: 1024px) {
    .resource-card {
      width: 300px;
      margin: 0 0 20px 0; } }
  .resource-card.news {
    background: #53d9eb;
    box-shadow: 0 2px 4px 0 rgba(66, 118, 146, 0.1), 0 10px 40px 0 rgba(66, 118, 146, 0.1); }
  .resource-card.press {
    background: #83a7f3;
    box-shadow: 0 2px 4px 0 rgba(66, 118, 146, 0.1), 0 10px 40px 0 rgba(66, 118, 146, 0.1); }
  .resource-card.info {
    background: #a295ee;
    box-shadow: 0 2px 4px 0 rgba(66, 118, 146, 0.1), 0 10px 40px 0 rgba(66, 118, 146, 0.1); }
  .resource-card .icon {
    background-size: contain;
    height: 80px;
    width: 80px;
    margin-bottom: 20px; }
  .resource-card h4:not(.bold) {
    font-weight: normal; }
  .resource-card h4 {
    color: white; }

.map.content {
  max-width: 100%;
  padding: 0; }
  @media (min-width: 1024px) {
    .map.content {
      max-width: 940px;
      margin-top: 0; } }
  @media (min-width: 768px) {
    .map.content {
      padding: 60px 0 0; } }
  .map.content .map {
    background-image: url("../images/contact-us-map.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 420px;
    box-shadow: 0 2px 4px 0 rgba(66, 118, 146, 0.1), 0 10px 40px 0 rgba(66, 118, 146, 0.1);
    background-size: cover;
    background-position: center; }

.contact-form-wrapper textarea {
  height: 100px; }

.button.default {
  margin-bottom: 15px; }

/* TODO uncomment when when contact us from is added
@include abovetablet {
  h5.center {
    text-align: left;
  }
  .email-field, .full-width-field {
    margin-bottom: 0;
    textarea {
      margin-bottom: $margin-base*2;
    }
  }
}
*/
.top-section {
  margin-top: 30px; }

@media (min-width: 768px) {
  .link-button-inner {
    text-align: left; } }

@media (min-width: 1024px) {
  .top-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .top-section .contact-form-wrapper, .top-section .link-button-wrapper {
      width: 100%; }
      .top-section .contact-form-wrapper .link-button, .top-section .link-button-wrapper .link-button {
        height: 120px; }
    .top-section .link-button-wrapper {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      height: 476px;
      justify-content: space-between; } }

.content.address {
  margin-top: 0;
  padding-top: 60px;
  padding-bottom: 60px; }
  .content.address h5 {
    color: #a2b0bd;
    font-weight: normal; }
    .content.address h5.bold {
      font-weight: bold; }

.contact-us h1,
.contact-us footer .content {
  padding-top: 0; }

@media (min-width: 1024px) {
  .contact-us h3 {
    margin-bottom: 50px; } }

a.link-button {
  box-shadow: 0 2px 4px 0 rgba(66, 118, 146, 0.1), 0 10px 40px 0 rgba(66, 118, 146, 0.1);
  border-radius: 12px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  a.link-button.kinto-purple {
    background: #a295ee; }
  a.link-button.kinto-blue {
    background: #83a7f3; }
  a.link-button.kinto-green {
    background: #4dd0b7; }
  a.link-button .text {
    text-align: center; }
  a.link-button .link-button-inner .icon {
    display: none; }
  a.link-button .link-button-inner h4 {
    color: white;
    font-weight: normal; }
    a.link-button .link-button-inner h4.larger.bold {
      font-size: 20px;
      font-weight: bold; }
  @media (min-width: 768px) {
    a.link-button {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-left: 40px;
      padding-right: 20px; }
      a.link-button h4:nth-child(1) {
        margin-bottom: 2px;
        font-size: 20px; }
      a.link-button h4:nth-child(2) {
        margin-bottom: 0; }
      a.link-button .icon-wrapper {
        display: block; }
        a.link-button .icon-wrapper .faqs {
          background-image: url("../images/icon-frequently-asked-questions.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 80px;
          height: 80px; }
        a.link-button .icon-wrapper .slack {
          background-image: url("../images/icon-slack-community.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 80px;
          height: 80px; }
        a.link-button .icon-wrapper .press {
          background-image: url("../images/icon-press-kit.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 80px;
          height: 80px; } }

footer {
  width: 100%; }
  @media (min-width: 1024px) {
    footer .footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-bottom: 66px; }
      footer .footer .left {
        display: flex;
        flex-direction: column;
        text-align: left; }
        footer .footer .left .unstyled-list li.list-item {
          display: inline-block;
          margin-right: 20px; }
        footer .footer .left .byline {
          text-align: left;
          line-height: 16px; }
      footer .footer .right {
        display: flex;
        align-items: baseline; }
        footer .footer .right .social-icons {
          margin-right: 20px; }
        footer .footer .right .footer-logo {
          padding-bottom: 0;
          height: 30px; } }
  footer .content {
    margin-top: 0; }
  footer .line {
    width: 100%;
    border: solid 1px #edf3fd;
    margin-bottom: 40px; }
  footer .unstyled-list {
    margin-bottom: 20px; }
    footer .unstyled-list .list-item {
      text-align: center; }
      footer .unstyled-list .list-item a {
        color: #98b4cd;
        font-weight: bold; }
        footer .unstyled-list .list-item a:hover {
          color: #1ec4e9; }
      @media (min-width: 768px) and (max-width: 1023px) {
        footer .unstyled-list .list-item {
          display: inline-block;
          margin: 0 10px; } }
  footer .byline {
    text-align: center;
    margin-bottom: 20px; }
    @media (min-width: 768px) and (max-width: 1023px) {
      footer .byline {
        font-weight: normal; } }
  footer .social-icons {
    text-align: center;
    margin-bottom: 20px; }
    footer .social-icons li.social-icon {
      height: 30px;
      width: 30px;
      display: inline-block;
      transition: all 0.1s linear;
      margin: 0 5px; }
      footer .social-icons li.social-icon:hover {
        opacity: 0.8; }
      footer .social-icons li.social-icon:active {
        filter: brightness(80%); }
  footer .footer-logo {
    margin: 0 auto;
    padding-bottom: 90px;
    width: 54px;
    text-align: center;
    transition: all 0.1s linear; }
    footer .footer-logo img {
      margin: 0; }
    footer .footer-logo:hover {
      opacity: 0.8; }
    footer .footer-logo:active {
      filter: brightness(80%); }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  margin: 0; }

.content {
  max-width: 940px;
  margin: 60px auto 0;
  padding: 60px 10px 0; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .content {
      max-width: 640px; }
      .content.smaller-tablet {
        max-width: 460px; } }
  @media (min-width: 768px) {
    .content {
      padding: 60px 0 0; } }

.bg-light-blue {
  background-color: #f5f9ff; }

.unstyled-list {
  list-style: none;
  padding-left: 0;
  margin: 0; }
  .unstyled-list li a {
    text-decoration: none; }

textarea, input, button {
  outline: none; }

a {
  text-decoration: none; }
